.question-input{
    font-size: 18px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 8px;
}
.qna-card{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .qna-card img{
    margin-bottom: 1rem;
  }
  .qna-question{
    font-size: 22px;
  }
.question-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
}
.submit-btn{
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
}
.submit-btn.correct{
     background-color: #1a3d1a;
  border-color: #4caf50;
  color: #a0f4a0;
}

.submit-btn.wrong{
    background-color: #3a1a1a;
  border-color: #f44336;
  color: #f8a0a0;
}