.screen {
  height: 100vh;
  scroll-snap-align: start;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100vw;
  background-color: #F1FAEE;
  padding: 16px;
  box-sizing: border-box;
  padding-bottom: 24px;
 
}
.screen::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.reels-container {
  scroll-snap-type: y mandatory;
}

.reels-container > div {
  scroll-snap-align: start;
  min-height: 100vh;
}


.screen  h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.screen  p {
  line-height: 1.6;
  font-size: 1.5rem;
  text-align: justify;
}
.content img{
  float: left;
}
.content{
  display: flex;
  gap: 1rem;
}


@media (max-width: 768px) {
    .screen {
    width: 100%;
    padding: 1.2rem;
    overflow-y: scroll;
    
    }
    .reading-card p{
        font-size: 1.2rem;
    }
    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

}