.screen {
  height: 100%;
  width: 100vw;
  background-color: #F1FAEE;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
  padding-bottom: 24px;
 
}

.screen  h2 {
  margin-top: 0;
  font-size: 2.5rem;
}

.screen  p {
  line-height: 1.6;
  font-size: 1.5rem;
  text-align: justify;
}
.content img{
  float: left;
}
.content{
  display: flex;
  gap: 1rem;
}


@media (max-width: 768px) {
    .screen {
    width: 100%;
    padding: 1.2rem;
    overflow: scroll;
    
    }
    .reading-card p{
        font-size: 1.2rem;
    }
    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

}